
# ignore the chache
src/__pycache__/

# ignore the local output
src/results/statistics.txt
src/results/values.txt
src/results/particles.png
src/TODO.txt
src/results/centers.txt
src/results/vertices.txt
